<div class="container">
    <div *ngFor="let sensor of sensors; let id = index;">
        <div class="sensor" *ngIf="sensor.show===true;" [ngClass]="{
              online: sensor.status,
              offline: !sensor.status
          }">
            <p>{{id++1}}: {{sensor.name}}</p>
            <button class='btn btn-primary' (click)='sensor.show="false"'>Удалить</button>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Название детектора:
    <input type="text" class='form-control' #someInput>
    </label>
    <button (click)="createSensor(someInput.value)">Добавить детектор</button>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Hello world</h1>
        </div>
    </div>
</div> -->

<!-- Интерполяция -->
<!-- 
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ title }}</h1>
            <h1>10 + 20 = {{ 10+20 }}</h1>
            <h1>Число: {{ myNumber }}</h1>
            <h1>{{ hello() }}</h1>
            <h1>Flag: {{ flag === true ? 'включен': 'выключен' }}</h1>
            <h1>{{ title.toUpperCase() }}</h1>
        </div>
    </div>
</div>
<hr> -->
<!-- Привязка свойств -->
<!-- 
<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" [disabled]="!buttonEnabled">Кнопка</button>
        </div>
    </div>
</div>
<hr> -->
<!-- Привязка событий -->

<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="myBlock" (mousemove)="getCoords($event)"></div>
            <p>X: {{blockX}} Y: {{blockY}}</p>
        </div>
    </div>
</div>
<hr> -->

<!-- Привязка в оба направления -->
<!-- 
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]='inputValue'>
                <p>{{inputValue}}</p>
            </div>
        </div>
    </div>
</div>
<hr> -->

<!-- Локальная референция -->
<!-- viewchild -->
<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <input type="text" class="form-control" #someInput>
            </div>
            <button class="btn btn-primary" (click)='getData(someInput)'>Кнопка</button>
        </div>
    </div>
</div>
<hr> -->

<!-- Условный оператор -->
<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <ng-container *ngIf="flag===true; else elseTemplate">
                <p>Флаг включен</p>
            </ng-container>
            <ng-template #elseTemplate>
                <p>Флаг выключен</p>
            </ng-template>

        </div>
    </div>
</div>
<hr> -->
<!-- Циклы -->
<!-- <div class="container mb-3">
    <div class="row">
        <div class="col-3" *ngFor="
        let item of someArray; 
        let item_index = index; 
        let item_first = first
        let item_last = last;
        ">
            {{item_index+1}}: {{item}}
        </div>
    </div>
</div>
<hr> -->

<!-- Динамические стили и css классы -->
<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <p [style.font-size]="fontSize + 'px'">Lorem ipsum dolor sit amet.</p>
            <p [ngStyle]="{'font-size': fontSize + 'px'}" [ngClass]="{'colorGreen':buttonEnabled}">Lorem ipsum dolor sit.</p>
        </div>
    </div>
</div>
<hr> -->

<!-- Жизненный цикл компонента -->